apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mend-renovate.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "mend-renovate.name" . }}
    helm.sh/chart: {{ include "mend-renovate.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "mend-renovate.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "mend-renovate.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        {{- with .Values.labels.pods }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        checksum/config.jsFileConfigMap: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/extraConfigMaps: {{ include (print $.Template.BasePath "/extra-configmaps.yaml") . | sha256sum }}
        {{- with .Values.annotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.podSecurityContext }}
      securityContext: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or (eq "string" (printf "%T" .Values.serviceAccount)) .Values.serviceAccount.create .Values.serviceAccount.existingName }}
      serviceAccountName: {{ include "mend-renovate.service-account-name" . }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- with .Values.initContainers }}
      initContainers: {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.useFull | ternary (printf "%s-full" .Values.image.tag) .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.containerSecurityContext }}
          securityContext: {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.extraEnvFromConfigMaps }}
          envFrom:
            {{- range . }}
            - configMapRef:
                name: {{ .name }}
            {{- end }}
          {{- end }}
          env:
            {{- with .Values.renovate.extraEnvVars }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- if .Values.renovate.mendRnvAcceptTos }}
            - name: MEND_RNV_ACCEPT_TOS
              value: {{ .Values.renovate.mendRnvAcceptTos | quote }}
            {{- end }}
            {{- if or .Values.renovate.mendRnvLicenseKey .Values.renovate.existingSecret }}
            - name: MEND_RNV_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "mend-renovate.secret-name" . }}
                  key: mendRnvLicenseKey
            {{- end }}
            {{- if .Values.renovate.mendRnvPlatform }}
            - name: MEND_RNV_PLATFORM
              value: {{ .Values.renovate.mendRnvPlatform | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvEndpoint }}
            - name: MEND_RNV_ENDPOINT
              value: {{ .Values.renovate.mendRnvEndpoint | quote }}
            {{- end }}
            # GitLab
            {{- if or .Values.renovate.mendRnvGitlabPat .Values.renovate.existingSecret }}
            - name: MEND_RNV_GITLAB_PAT
              valueFrom:
                secretKeyRef:
                  name: {{ include "mend-renovate.secret-name" . }}
                  key: mendRnvGitlabPat
                  optional: true
            {{- end }}
            # GitHub
            {{- if or .Values.renovate.mendRnvGithubAppId .Values.renovate.existingSecret }}
            - name: MEND_RNV_GITHUB_APP_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "mend-renovate.secret-name" . }}
                  key: mendRnvGithubAppId
                  optional: true
            {{- end }}
            {{- if .Values.renovate.mendRnvGithubBotUserId }}
            - name: MEND_RNV_GITHUB_BOT_USER_ID
              value: {{ .Values.renovate.mendRnvGithubBotUserId | quote }}
            {{- end }}
            {{- if or .Values.renovate.mendRnvGithubAppKey .Values.renovate.existingSecret }}
            - name: MEND_RNV_GITHUB_APP_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "mend-renovate.secret-name" . }}
                  key: mendRnvGithubAppKey
                  optional: true
            {{- end }}
            # BitBucket
            {{- if .Values.renovate.mendRnvBitbucketUser }}
            - name: MEND_RNV_BITBUCKET_USER
              value: {{ .Values.renovate.mendRnvBitbucketUser | quote }}
            {{- end }}
            {{- if or .Values.renovate.mendRnvBitbucketPat .Values.renovate.existingSecret }}
            - name: MEND_RNV_BITBUCKET_PAT
              valueFrom:
                secretKeyRef:
                  name: {{ include "mend-renovate.secret-name" . }}
                  key: mendRnvBitbucketPat
                  optional: true
            {{- end }}
            # PostgrSQL database
            {{- if .Values.postgresql.enabled }}
            - name: MEND_RNV_DATA_HANDLER_TYPE
              value: postgresql
            - name: PGDATABASE
              value: {{ .Values.postgresql.database | quote }}
            - name: PGUSER
              value: {{ .Values.postgresql.user | quote }}
            - name: PGPORT
              value: {{ .Values.postgresql.port | quote }}
            - name: PGHOST
              value: {{ .Values.postgresql.host | quote }}
            {{- end }}
            {{- if or .Values.postgresql.enabled .Values.renovate.existingSecret }}
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "mend-renovate.secret-name" . }}
                  key: pgPassword
                  optional: true
            {{- end }}

            {{- if or .Values.renovate.mendRnvAdminToken .Values.renovate.existingSecret }}
            - name: MEND_RNV_ADMIN_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "mend-renovate.secret-name" . }}
                  key: mendRnvAdminToken
                  optional: true
            {{- end }}
            {{- if .Values.renovate.mendRnvWebhookURL }}
            - name: MEND_RNV_WEBHOOK_URL
              value: {{ .Values.renovate.mendRnvWebhookURL | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvSqliteFilePath }}
            - name: MEND_RNV_SQLITE_FILE_PATH
              value: {{ .Values.renovate.mendRnvSqliteFilePath | quote }}
            {{- end }}
            {{- if or .Values.renovate.githubComToken .Values.renovate.existingSecret }}
            - name: GITHUB_COM_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "mend-renovate.secret-name" . }}
                  key: githubComToken
                  optional: true
            {{- end }}
            {{- if or .Values.renovate.mendRnvWebhookSecret .Values.renovate.existingSecret }}
            - name: MEND_RNV_WEBHOOK_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "mend-renovate.secret-name" . }}
                  key: mendRnvWebhookSecret
                  optional: true
            {{- end }}
            {{- if .Values.renovate.mendRnvCronJobSchedulerAll }}
            - name: MEND_RNV_CRON_JOB_SCHEDULER_ALL
              value: {{ .Values.renovate.mendRnvCronJobSchedulerAll | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvCronAppSync }}
            - name: MEND_RNV_CRON_APP_SYNC
              value: {{ .Values.renovate.mendRnvCronAppSync | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvSyncOnStartup }}
            - name: MEND_RNV_SYNC_ON_STARTUP
              value: {{ .Values.renovate.mendRnvSyncOnStartup | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvSyncMode }}
            - name: MEND_RNV_SYNC_MODE
              value: {{ .Values.renovate.mendRnvSyncMode | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvReportingEnabled }}
            - name: MEND_RNV_REPORTING_ENABLED
              value: {{ .Values.renovate.mendRnvReportingEnabled | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvLogHistoryS3 }}
            - name: MEND_RNV_LOG_HISTORY_S3
              value: {{ .Values.renovate.mendRnvLogHistoryS3 | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvAutoDiscoverFilter }}
            - name: MEND_RNV_AUTODISCOVER_FILTER
              value: {{ .Values.renovate.mendRnvAutoDiscoverFilter | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvEnqueueJobsOnStartup }}
            - name: MEND_RNV_ENQUEUE_JOBS_ON_STARTUP
              value: {{ .Values.renovate.mendRnvEnqueueJobsOnStartup | quote }}
            {{- end }}
            {{- if or .Values.renovate.pipIndexUrl .Values.renovate.existingSecret }}
            - name: PIP_INDEX_URL
              valueFrom:
                secretKeyRef:
                  name: {{ include "mend-renovate.secret-name" . }}
                  key: pipIndexUrl
                  optional: true
            {{- end }}
            {{- if .Values.renovate.noNodeTlsVerify }}
            - name: NODE_TLS_REJECT_UNAUTHORIZED
              value: '0'
            {{- end }}
            {{- if .Values.renovate.noGitTlsVerify }}
            - name: GIT_SSL_NO_VERIFY
              value: 'true'
            {{- end }}
            {{- if .Values.renovate.renovateUserAgent }}
            - name: RENOVATE_USER_AGENT
              value: {{ .Values.renovate.renovateUserAgent | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvUserAgent }}
            - name: MEND_RNV_USER_AGENT
              value: {{ .Values.renovate.mendRnvUserAgent | quote }}
            {{- end }}
            {{- if .Values.renovate.logLevel }}
            - name: LOG_LEVEL
              value: {{ .Values.renovate.logLevel | quote }}
            {{- end }}
            {{- if .Values.renovate.logFormat }}
            - name: LOG_FORMAT
              value: {{ .Values.renovate.logFormat | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvAdminApiEnabled }}
            - name: MEND_RNV_ADMIN_API_ENABLED
              value: {{ .Values.renovate.mendRnvAdminApiEnabled | quote }}
            {{- end }}
            {{- if or .Values.renovate.mendRnvServerApiSecret .Values.renovate.existingSecret }}
            - name: MEND_RNV_SERVER_API_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "mend-renovate.secret-name" . }}
                  key: mendRnvServerApiSecret
                  optional: true
            {{- end }}
            {{- if .Values.renovate.mendRnvLogHistoryDir }}
            - name: MEND_RNV_LOG_HISTORY_DIR
              value: {{ .Values.renovate.mendRnvLogHistoryDir }}
            {{- end }}
            {{- if .Values.renovate.mendRnvLogHistoryTTLDays }}
            - name: MEND_RNV_LOG_HISTORY_TTL_DAYS
              value: {{ .Values.renovate.mendRnvLogHistoryTTLDays | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvLogHistoryCleanupCron }}
            - name: MEND_RNV_LOG_HISTORY_CLEANUP_CRON
              value: {{ .Values.renovate.mendRnvLogHistoryCleanupCron }}
            {{- end }}
            {{- if .Values.renovate.mendRnvForksProcessing }}
            - name: MEND_RENOVATE_FORKS_PROCESSING
              value: {{ .Values.renovate.mendRnvForksProcessing }}
            {{- end }}
            {{- if .Values.renovate.mendRnvWorkerExecutionTimeout }}
            - name: MEND_RNV_WORKER_EXECUTION_TIMEOUT
              value: {{ .Values.renovate.mendRnvWorkerExecutionTimeout | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvWorkerCleanup }}
            - name: MEND_RNV_WORKER_CLEANUP
              value: {{ .Values.renovate.mendRnvWorkerCleanup | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvWorkerCleanupDirs }}
            - name: MEND_RNV_WORKER_CLEANUP_DIRS
              value: {{ .Values.renovate.mendRnvWorkerCleanupDirs | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvDiskUsageWarnThreshold }}
            - name: MEND_RNV_DISK_USAGE_WARN_THRESHOLD
              value: {{ .Values.renovate.mendRnvDiskUsageWarnThreshold | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvDiskUsageFilter }}
            - name: MEND_RNV_DISK_USAGE_FILTER
              value: {{ .Values.renovate.mendRnvDiskUsageFilter | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvWorkerNodeArgs }}
            - name: RENOVATE_NODE_ARGS
              value: {{ .Values.renovate.mendRnvWorkerNodeArgs | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvPrometheusMetricsEnabled }}
            - name: MEND_RNV_PROMETHEUS_METRICS_ENABLED
              value: {{ .Values.renovate.mendRnvPrometheusMetricsEnabled | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvDisableGlobalAgent }}
            - name: MEND_RNV_DISABLE_GLOBAL_AGENT
              value: {{ .Values.renovate.mendRnvDisableGlobalAgent | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvEnableHttp2 }}
            - name: MEND_RNV_ENABLE_HTTP2
              value: {{ .Values.renovate.mendRnvEnableHttp2 | quote }}
            {{- end }}
            {{- if .Values.renovate.mendRnvHttpServerDisabled }}
            - name: MEND_RNV_HTTP_SERVER_DISABLED
              value: {{ .Values.renovate.mendRnvHttpServerDisabled | quote}}
            {{- end }}
            {{- if .Values.renovate.mendRnvServerHttpsConfig }}
            - name: MEND_RNV_SERVER_HTTPS_CONFIG
              value: {{ toJson .Values.renovate.mendRnvServerHttpsConfig | quote}}
            {{- end }}
            {{- if .Values.renovate.mendRnvServerHttpsConfigPath }}
            - name: MEND_RNV_SERVER_HTTPS_CONFIG_PATH
              value: {{ .Values.renovate.mendRnvServerHttpsConfigPath | quote}}
            {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: https
              containerPort: 8443
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: {{ .Release.Name }}-config-js-volume
              mountPath: /usr/src/app/config.js
              subPath: config.js
            {{- if .Values.renovate.npmrc }}
            - name: {{ .Release.Name }}-npmrc-volume
              mountPath: /home/ubuntu/.npmrc
              subPath: .npmrc
            {{- end }}
            {{- if not .Values.disableCacheVolume }}
            - name: {{ .Release.Name }}-cache-volume
              readOnly: false
              mountPath: /tmp/renovate
            {{- end}}
            {{- with .Values.extraVolumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        - name: {{ .Values.imagePullSecrets }}
      {{- end }}
      volumes:
        - name: {{ .Release.Name }}-config-js-volume
          configMap:
            name: {{ .Release.Name }}-config-js
        {{- if or .Values.renovate.npmrc .Values.renovate.npmrcExistingSecret }}
        - name: {{ .Release.Name }}-npmrc-volume
          secret:
            secretName: {{ include "mend-renovate.npmrc-secret-name" . }}
        {{- end }}
        {{- if not .Values.disableCacheVolume }}
        - name: {{ .Release.Name }}-cache-volume
          {{- if .Values.cachePersistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .Values.cachePersistence.existingClaim | default (printf "%s-cache" (include "mend-renovate.fullname" .)) }}
          {{- else if .Values.cacheInMemory.enabled }}
          emptyDir:
            medium: Memory
          {{- else }}
          emptyDir: { }
          {{- end }}
        {{- end }}
        {{- with .Values.extraVolumes }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
