version: "3.6"
services:
  renovate:
    image: whitesource/renovate:2.6.0
    restart: on-failure
    environment:
      - ACCEPT_WHITESOURCE_TOS # You must accept the WhiteSource Renovate Terms of Service to use the image
      - LICENSE_KEY # Set this to the key you received by email
      - RENOVATE_PLATFORM=github
      - RENOVATE_ENDPOINT # GitHub Enterprise API endpoint, include the trailing slash
      - GITHUB_APP_ID # GitHub App ID
      - GITHUB_APP_KEY # GitHub App Key (PEM file). Alternatively mount as a volume below
      - GITHUB_COM_TOKEN # Personal Access Token for github.com (used for retrieving changelogs)
      - WEBHOOK_SECRET # Optional, default to 'renovate'
      - SCHEDULER_CRON # Optional, defaults to '0 * * * *' (hourly)
    ports:
      - "80:8080" # Receive webhooks on port 80
    volumes:
      # You can optionally mount the GitHub private key instead of exposing it in env
      - "./renovate.private-key.pem:/usr/src/app/renovate.private-key.pem"
      - "/tmp/renovate/:/tmp/" # Use a volume for this as the disk cache churns frequently
