version: '3.6' # earlier docker-compose versions are also fine
services:
  # Renovate Pro uses a PostgreSQL database to manage job queuing
  # This database is used only by Renovate and not necessary/desirable to expose to the outside world
  db:
    image: postgres:10.8-alpine
    restart: on-failure
    # Persisting PostgreSQL's data is desirable
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
  # Renovate Pro runs as a single long-lived server
  server:
    image: renovate/pro:0.15.4
    restart: on-failure
    depends_on:
      - db
    # The below environment variables can be passed through from the server's env, or hardcoded into the docker-compose.yml file
    environment:
      - ACCEPT_AGREEMENT # You must accept the Renovate User Agreement to use the image
      - LICENSE_MODE # Set to commercial if you have purchased a license, otherwise it defaults to evaluation
      - LICENSE_NAME # If running in commercial mode, set this to the license name (e.g. company name) as submitted with the Renovate Pro order
      - RENOVATE_ENDPOINT # GitHub Enterprise API endpoint, include the trailing slash
      - GITHUB_APP_ID # GitHub App ID
      - GITHUB_APP_KEY # GitHub App Key (PEM file). Alternatively mount as a volume below
      - GITHUB_COM_TOKEN # Personal Access Token for github.com (used for retrieving changelogs)
      - WEBHOOK_SECRET # Optional, default to 'renovate'
      - SCHEDULER_CRON # Optional, defaults to '0 * * * *' (hourly)
    ports:
      - "80:8080" # Receive webhooks on port 80
    volumes:
      # You can optionally mount the GitHub private key instead of exposing it in env
      - "./renovate.private-key.pem:/usr/src/app/renovate.private-key.pem"
      - "/tmp/renovate/:/tmp/" # Use a volume for this as the disk cache churns frequently
